
*.Rproj
.Rproj.user/32F28091/sources/per/t/61DF63A6
*.pper
.Rproj.user/32F28091/rmd-outputs
.Rproj.user/32F28091/saved_source_markers
.Rproj.user/32F28091/sources/per/t/13D8F1AC
.Rproj.user/32F28091/sources/per/t/13D8F1AC-contents
.Rproj.user/32F28091/sources/per/t/61DF63A6-contents
.Rproj.user/32F28091/sources/per/t/E11D9B38
.Rproj.user/32F28091/sources/per/t/E11D9B38-contents
.Rproj.user/32F28091/sources/prop/1ABBA338
.Rproj.user/32F28091/sources/prop/1B509DF0
.Rproj.user/32F28091/sources/prop/D130ED93
.Rproj.user/32F28091/sources/prop/INDEX
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.Rhistory
